<%- include('./header.ejs') %>
  <%- include('./sidebar.ejs') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Contact</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Contact Display</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>

            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>State</th>

                  </tr>
                </thead>
                <tbody>
                  <% c.forEach((item,index)=>{ %>
                    <tr>
                      <td>
                        <%= index+1 %>
                      </td>
                      <td>
                        <%= item.firstname %>
                      </td>
                      <td>
                        <%= item.lastname %>
                      </td>

                      <td>
                        <%= item.username %>
                      </td>
                      <td>
                        <%= item.email %>
                      </td>
                      <td>
                        <%= item.address %>
                      </td>
                      <td>
                        <%= item.country %>
                      </td>
                      <td>
                        <%= item.state %>
                      </td>
                      <td>
                        <form action="/admin/update_status/<%= item._id %>" method="post">
                          <!-- <textarea name="comment" class="form-control"></textarea> -->
                          <input type="hidden" name="firstname" value="<%= item.firstname %>">
                          <input type="hidden" name="username" value="<%= item.username %>">
                          <input type="hidden" name="email" value="<%= item.email %>">
                          <input type="hidden" name="address" value="<%= item.address %>">
                          <input type="hidden" name="country" value="<%= item.country %>">
                          <input type="hidden" name="state" value="<%= item.state %>">
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <button type="submit" name="status" class="btn btn-success" value="Approved">Approved</button>
                        <button type="submit" name="status" class="btn btn-danger" value="Reject">Reject</button> -->
                        </form>
                      <!-- </td> -->
                      <!-- <td> -->
                        <a href="/admin/ViewCourse%= item._id %>" class="btn btn-primary">View</a>
                        <a href="/admin/EditCourse/<%= item._id %>" class="btn btn-info">Edit</a>
                        <a href="/admin/DeleteCourse/<%= item._id %>" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                    <% }) %>

                </tbody>
                <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>last name</th>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>State</th>

                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
     


    <%- include('./footer.ejs') %>